body {
    margin: 0;
    padding: 0;
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
    background-color: black;
}

.container img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.container {
    text-align: center;
}


footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.square {
    position: absolute;
    width: 21px; /* Adjust the width as needed */
    height: 21px; /* Adjust the height as needed */
    background-color: rgba(255, 0, 0, 0.1); /* Semi-transparent red background for visibility */
    cursor: pointer;
}

.hex {
    position: absolute;
    width: 25px; /* Adjust the width as needed */
    height: 30px; /* This is half the height of a regular hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transform: rotate(90deg);  /*Rotate the hexagon by 90 degrees */
}

#root {
    position: relative;
    width: 1122px;
    height: 496px;
    background: url('pics/main_image2.png') no-repeat left top;
    background-size: contain;
}

.full img {
    opacity: 1;
}

.transparant img {
    opacity: 0.5;
}

.circle-background {
    width: 25px; /* Set your desired width */
    height: 25px; /* Set your desired height */
    border-radius: 50%; /* Make the element circular */
    background-color: #3498db; /* Set the background color */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Set the text color */
    font-size: 10px; /* Set the font size */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }

  .image-grid img {
    width: 70px;
    height: auto;
  }